<header>
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand align-self-center" href="index.html">
                <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/419365598_1037830407447835_6253347480261779318_n.jpg?stp=dst-jpg_s2048x2048&_nc_cat=100&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3635dc&_nc_ohc=TNP74hwtSJ4AX9aAqDc&_nc_oc=AQml6Eou6QhC59RC5dn7S6-iltd6wg_TLtO-l36HHTyz_jGyFnlD_4JOFGnn6EPQuf6sYgWLoFsmtd0YoK1oZxh9&_nc_ht=scontent.fhan14-2.fna&oh=00_AfCiLyhnQwR8NY0S4YelNmGJsLqd-pswuJEv5rUKYMcqBA&oe=65A6BE6F"
                    alt="" width="20%">
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-sm-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="products">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                        data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>

                    <div class="header-user">
                        <i class="fa fa-user header-icon">
                            <div class="header-dropdown-content">
                                <a href="register" class="header-dropdown-link">Đăng ký</a>
                                <a href="login" class="header-dropdown-link">Đăng nhập</a>
                                <a class="header-dropdown-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a>
                            </div>
                        </i>
                        <i class="fa-solid fa-chevron-down header-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>