<main class="main">
    <div class="main-form">
        <form action="#" class="form" >
            <h4 class="form-title">Đăng ký</h4>
            <div class="form-group">
                <label for="#" class="form-label">Họ</label>
                <input type="text" name="" class="form-input" placeholder="Họ" />
                <!-- <div
                    *ngIf="!registerForm.controls.username?.valid&&(registerForm.controls.username?.dirty||registerForm.controls.username?.touched)">
                    <pre>Họ không được để trống</pre>
                </div> -->
            </div>
            <div class="form-group">
                <label for="#" class="form-label">Tên</label>
                <input type="text" name="" class="form-input" placeholder="Tên" />
            </div>
            <div class="form-group">
                <label for="#" class="form-label">Tên đăng nhập</label>
                <input type="text" name="" class="form-input" placeholder="Username" />
            </div>
            <div class="form-group">
                <label for="#" class="form-label">Email</label>
                <input type="email" name="" class="form-input" placeholder="Email" />
            </div>
            <div class="form-group">
                <label for="#" class="form-label">Tạo mật khẩu</label>
                <input type="password" name="" class="form-input" />
            </div>
            <div class="form-group">
                <label for="#" class="form-label">Nhập lại mật khẩu</label>
                <input type="password" name="" class="form-input" />
            </div>
            <div class="form-group">
                <button type="submit" class="form-btn">Đăng ký</button>
            </div>

            <div class="form-signin">
                <span class="form-sign-text">
                    Đã có tài khoản? <a href="login">Đăng Nhập</a></span>
            </div>
        </form>
    </div>
</main>