<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Danh mục</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Laptop
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#">Sinh viên</a></li>
                        <li><a class="text-decoration-none" href="#">Văn phòng</a></li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Điện thoại
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#">Iphone</a></li>
                        <li><a class="text-decoration-none" href="#">Xiaomi</a></li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Phụ kiện
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseThree" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#">Tai nghe</a></li>
                        <li><a class="text-decoration-none" href="#">Bàn phím</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Laptop</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Điện thoại</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" href="#">Phụ kiện</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control">
                            <option>Nổi bật</option>
                            <option>Giá từ thấp đến cao</option>
                            <option>Giá từ cao xuống thấp</option>
                            <option>Sale</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let product of products" class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="{{product.thumbnail}}">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-primary text-white" href="#"><i class="far fa-heart"></i></a>
                                    </li>
                                    <li><a class="btn btn-primary text-white mt-2" href="#"><i
                                                class="far fa-eye"></i></a></li>
                                    <li><a class="btn btn-primary text-white mt-2" href="#"><i
                                                class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail/{{product.id}}"
                                class="h3 text-decoration-none"><b>{{product.title}}</b></a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li>{{product.price}}.000₫</li>
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                                <li>Đánh giá: {{product.rating}}<i class="text-warning fa fa-star"></i></li>                                   
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-1 align-self-center">
                    <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                        <i class="text-light fas fa-chevron-right"></i>
                    </a>
                </div>
                <!--End Controls-->
            </div>
        </div>
    </div>
</div>