<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid"
                            src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/419472759_1037838280780381_6798308056161461965_n.jpg?_nc_cat=105&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3635dc&_nc_ohc=KmEeA2xdNWEAX-it-MB&_nc_ht=scontent.fhan14-1.fna&oh=00_AfAgBoolfqPETMmIe6CZXR0S2_WaWz0Jn-lLP1yPvmwQEw&oe=65A6C98A"
                            alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h3 class="h2"><b>Laptop Dell Inspiron 15 7559</b></h3>
                            <p>
                                Inspiron 15 7559 trang bị màn hình Full HD với độ rộng là 15.6 inch, cho người dùng
                                trải nghiệm tốt nhất, độ hiển thị sắc nét, rực rỡ. Các cổng kết nối được trang bị
                                đầy đủ, tốc độ nhanh, 3 x USB 3.0, HDMI, LAN, tiết kiệm tối đa thời gian cho người
                                dùng.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid"
                            src="https://scontent.fhan14-3.fna.fbcdn.net/v/t39.30808-6/419508387_1037838300780379_3272974526515777390_n.jpg?_nc_cat=103&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3635dc&_nc_ohc=-C3hFwdkqU4AX_A9bhW&_nc_ht=scontent.fhan14-3.fna&oh=00_AfAb3vDAODYdwQv8pY5tx0giaEAFeIMhU9WCgZEFxwp0uA&oe=65A76ABC"
                            alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h3 class="h2"><b>Laptop HP Pavilion 15 EG2063TU 6K791PA</b></h3>
                            <p>
                                Thiết kế trên từng chi tiết của HP Pavilion 15 EG2063TU 6K791PA được trau chuốt và
                                sắp đặt kĩ càng nhằm bộc lộ hết vẻ đẹp hiện đại và thời thượng của chiếc máy. Khoác
                                lên vỏ lớp màu Natural Silver sang trọng cùng viền màn hình được thiết kế siêu mỏng,
                                càng thể hiện được nét đẹp thanh thoát và trang nhã của sản phẩm.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid"
                            src="https://scontent.fhan14-4.fna.fbcdn.net/v/t39.30808-6/419376271_1037838290780380_1130780080901725716_n.jpg?_nc_cat=109&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3635dc&_nc_ohc=S17PYuviaQUAX_MLh5i&_nc_ht=scontent.fhan14-4.fna&oh=00_AfBAtJqoaQL0J20fcoqi2Wr8xmHftR0eogv_ASFR_56hTw&oe=65A6FE65"
                            alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h3 class="h2"><b>Laptop Acer Aspire 5 A515 57 52Y2</b></h3>
                            <p>
                                Laptop Acer Aspire 5 A515 được thiết kế với từng đường nét bo góc vuông vắn đầy tinh
                                tế. Tông màu bạc bao phủ thể hiện một sản phẩm laptop thời thượng phù hợp với các
                                bạn học sinh - sinh viên hiện nay. Đặc tính của những sản phẩm laptop là khả năng di
                                chuyển tiện lợi và laptop Acer cũng đáp ứng được điều kiện đó. Trọng lượng chỉ
                                khoảng 1.7kg sẽ dễ dàng hơn để bạn bỏ vào balo và mang đi khắp nơi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1"><b>Hạng mục</b></h1>
            <h5>
                Shop đồng loạt ra quân thực hiện chiến dịch “Tiếp sức mùa thi” 2024
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img
                    src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/419840446_1037997607431115_7552531015734658325_n.jpg?_nc_cat=108&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3635dc&_nc_ohc=nH80CiC8RzkAX-8GLv4&_nc_ht=scontent.fhan14-2.fna&oh=00_AfCTHEbqYecevIl_G80N7HunpaXfjWC1yzS9NlYt3Ii8wQ&oe=65A8A20F"
                    class="anh rounded-circle"></a>
            <h5 class="text-center mt-3 mb-3">Điện thoại</h5>
            <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img
                    src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/419846745_1037997524097790_3983166903646162428_n.jpg?stp=dst-jpg_s851x315&_nc_cat=106&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3d9721&_nc_ohc=2ge5X4WBerQAX8o4XcJ&_nc_ht=scontent.fhan14-2.fna&oh=00_AfBgCTaT9ULhpm8BYtaQAXuqHXPqhR2A2enPg73iROD06A&oe=65A812D5"
                    class="anh rounded-circle"></a>
            <h2 class="h5 text-center mt-3 mb-3">Laptop</h2>
            <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img
                    src="https://scontent.fhan14-4.fna.fbcdn.net/v/t39.30808-6/419834269_1037997420764467_4906916685751214399_n.jpg?stp=dst-jpg_s851x315&_nc_cat=111&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3d9721&_nc_ohc=lV-rKnw-m7wAX-JHYfl&_nc_oc=AQk_xjgZIQm8EGDHezS_DG1OcpOpT3kQfGCzDE63urSiVPh1GkAPcGLtj2yICDolm6mw6E8QMNv2k_WcaHHc35uc&_nc_ht=scontent.fhan14-4.fna&oh=00_AfBDNuxHiIRKKb5horHxtOsg8ZdIBfCJKs6PXXFOn1opCg&oe=65A7EDD4"
                    class="anh rounded-circle"></a>
            <h2 class="h5 text-center mt-3 mb-3">Phụ kiện</h2>
            <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
        </div>
    </div>

</section>
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1"><b>Sản phẩm nổi bật</b></h1>
                <p>
                    Chúng tôi cam kết mang đến những sản phẩm chất lượng và chế độ bảo hành uy tín, sẵn sàng hỗ trợ
                    khách hàng trong thời gian nhanh nhất.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="https://scontent.fhan14-3.fna.fbcdn.net/v/t39.30808-6/419820680_1037997410764468_4789742000595495147_n.jpg?stp=dst-jpg_s851x315&_nc_cat=110&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3d9721&_nc_ohc=rXQzSohU6AkAX_25GoD&_nc_ht=scontent.fhan14-3.fna&oh=00_AfD604LgqPQ-tPTd_Anij9YVDrKvQgH1B16o-wFJ1x5KjA&oe=65B0788D" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">18.990.000₫</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark"><b>Laptop Gaming MSI
                                Katana GF66 11UC 676VN</b></a>
                        <p class="card-text">
                            ✔ Bảo hành chính hãng 12 tháng
                            <br>
                            ✔ Hỗ trợ đổi mới trong 7 ngày
                            <br>
                            ✔ Windows bản quyền tích hợp
                        </p>
                        <p class="text-muted">Reviews (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/419817490_1037997554097787_5481081253246390084_n.jpg?stp=dst-jpg_s851x315&_nc_cat=105&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3d9721&_nc_ohc=_b6nr0Pp0a0AX8rG7Q_&_nc_ht=scontent.fhan14-1.fna&oh=00_AfAv948lg1zBekTLI9FZTOGsIAmrxWHAjW7339GzF5XaOQ&oe=65B1B5C5" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">2.999.000₫</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark"><b>Tai nghe AirPods 2
                                hộp sạc dây</b></a>
                        <p class="card-text">
                            ✔ Nhà sản xuất : APPLE <br>
                            ✔ Tình trạng : Mới <br>
                            ✔ Bảo hành : 12 Tháng
                        </p>
                        <p class="text-muted">Reviews (20)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/419824766_1037997617431114_673098242315580952_n.jpg?stp=c0.4.358.358a_dst-jpg_s851x315&_nc_cat=106&cb=99be929b-8d691acd&ccb=1-7&_nc_sid=3d9721&_nc_ohc=RSgW48bWM9oAX-opTep&_nc_ht=scontent.fhan14-2.fna&oh=00_AfARs_6_Yky6-S-o9AH7BbTYeIoeQEGPnw2KZn1qtHINGw&oe=65B183A0" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">27.390.000 ₫</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark"><b>iPhone 13 Pro Max
                                128GB</b></a>
                        <p class="card-text">
                            ✔ iPhone 13 Pro Max 128GB, cáp USB-C sang Lightning <br>
                            ✔ 1 ĐỔI 1 trong 30 ngày nếu có lỗi phần cứng nhà sản xuất <br>
                            ✔ Bảo hành 12 tháng tại trung tâm bảo hành chính hãng Apple
                        </p>
                        <p class="text-muted">Reviews (75)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>